* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8%;
}
.navbar ul {
  padding: 10px 30px;
  border-radius: 30px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}
.navbar ul li {
  display: inline-block;
  margin: 0 10px;
  padding: 5px 10px;
}
a.active {
  color: red;
}
.navbar button {
  padding: 12px 25px;
  border: 0;
  border-radius: 30px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}
.container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container h1 {
  font-size: 70px;
  font-weight: 500;
}
.contact-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  gap: 20px;
}
.jobs {
  padding: 40px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.jobs a {
  flex: 1;
  text-decoration: none;
  padding: 10px;
  background: #efefef;
}
.job-details {
  padding: 50px 0;
}
.job-details p {
  max-width: 500px;
  padding: 10px 0;
}
.job-details button {
  background: #000;
  color: #fff;
  border: 0;
  outline: 0;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}
